# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
venv/
.venv/

# Environment
.env
backend/.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Build
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
